@charset "UTF-8";
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#container{
    max-width: 300px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: auto;
    justify-content: center;
}
h3{
	font-size: 15px;
    font-weight: 600;	
}
#container .title{
    font-size: 25px;
    font-weight: 600;
    position: relative;
}
#container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 300px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
#container form .admin{
    font-family: sans-serif;
    font-weight: 500;
    justify-content: space-between;
}
form .admin #text{
    font-size: 18px;
    font-weight: 600;
    position: relative;
}
form .admin #box{
    margin: 20px 0 12px 0;
    width: (100% / 2 - 20px);
}
input{
    height: 40px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}
form #submit input{
    height: 40px;
    width: 95%;
    outline: none;
    color: #fff;
    border: none;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
